{% extends  'baseHome.html' %}
{% block content%}
<h1 style="color: white;" class="display-1">Requests</h1>
    
{%if requests != None %}
{% for request in requests %}
        
            <div class="container-fluid" style="color: white;">
                <div class="card mb-3" style=" background: linear-gradient(180deg, black, rgb(90, 90, 90))" >
                    <div class="row g-0">
                    
                    <div class="col-md-8">
                        <div class="card-body" style = "color: white;" >
                        <h5 class="card-title ">
                            <div class="btn btn-sm btn-warning" >
                            {{request.status}}
                            </div>
                        </h5>
                        <h3 class="card-title">
                           {{request.book_id}}

                        </h3>
                        <div > 
                            <a href="{{url_for('AcceptRequest' , request_id = request.id)}}" class="btn btn-success ">Approve</a>
                            <a href="{{url_for('RejectRequest' , request_id = request.id)}}" class="btn btn-danger ">Reject</a>
                        </div>
                    </div>
                    </div>

                    </div>
                </div>
            </div>

    {% endfor %}
    {% endif %}
    
    {% if requests != None %}
    <br>
    <h1 class="display-3" style="color: lightgray;">No Pending Requests</h1>

    {% endif %}





{% endblock %}
  

                         -->
