{% extends  'base.html' %}
{%block title%} 
{{section.name}}
{% endblock%}
{% block content%}

    <div class="mx-auto p-2" style="width: 200px;">
        <h1 style="color: white;" class="display-1 ">{{section.name}}</h1>
    </div>
    
    <div class="card" style="background: linear-gradient(180deg, black, rgb(90, 90, 90));color: gainsboro;">
    <div class="mx-auto p-2" style="width: 200px;">



                  <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Edit {{section.name}}'s details
                        </button>
                    
                
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Section</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            
                            <div class="container">
                                <form method = "POST" enctype="multipart/form-data">
                                    {{form.hidden_tag()}}
                                    
                                    {{ form.name.label() }}
                                    {{ form.name(data=form.name.data,class="form-control", placeholder="Enter Name")}}
                            
                                    {{ form.description.label() }}
                                    {{ form.description(data=form.description.data,class="form-control", placeholder="Enter description") }}
                    
                                    <br>
                                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                                </form>

                            </div>   

                        </div>
                        <!--
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                        </div> -->
                    </div>
                    </div>
                </div>
    <br><br>
    <a type = "button" href="{{url_for('DeleteSection',section_id = section.id)}}" class="btn btn-danger btn-sm">Delete Section</a>
    
</div>

       <h3 style="color: white;" class="display-6 ">Description: {{section.description}}</h3>
    </div>
    <br>
  

    <div class="container">
        <div class="row">
            {% for book in books %}
        

                <div class="col-sm mt-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{url_for('static',filename = 'animation.gif')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{book.title}}</h5>
                          <p class="card-text">{{book.description}}</p>
                          <a href="{{url_for('Book',book_id = book.id)}}" class="btn btn-primary  ">Visit Book</a>
                          <a href="{{url_for('RemoveBookFromSection',section_id = section.id,book_id = book.id)}}" class="btn btn-danger ">Remove Book</a>
                        </div>
                    </div>
                </div>
    
            {% endfor %}
      
    <div class="col-sm mt-3 mb-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename = 'add book.png')}}" class="card-img-top" alt="..." style="height: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Add Book</h5>
              <p class="card-text">
            

                
                <button type="button" class="btn btn-primary stretched-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add Book to {{section.name}}
                </button>

                  <!-- Modal -->
                    
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title " id="exampleModalLabel">Which book do you want to add to {{section.name}}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    {% for book in all_books %}
                                
                        
                                        <div class="col-sm mt-3 mb-3">
                                            <div class="card" style="width: 8rem;">
                                                <img src="{{url_for('static',filename = 'animation.gif')}}" class="card-img-top" alt="..." style="height: 5rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">{{book.title}}</h5>
                                                  <a href="{{url_for('AddBookToSection',section_id = section.id, book_id = book.id)}}" class="btn btn-primary  stretched-link">Add Book</a>
                                                </div>
                                            </div>
                                        </div>
                            
                                    {% endfor %}
                                    </div>
                                </div>
                        
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                     
                        </div>
                    </div>
                    </div>
                </div>
              
            
           

                

              </p>
            </div>
        </div>
    </div>
</div>
</div>


</div>
</div> 






{% endblock %}