{% extends 'base.html' %}

{% block title %}
Welcome 
{% endblock %}

{% block content %}



<h1  style="color: white; text-align-last: center;" >Login </h1>

<div class="container">
    <form method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}
        

        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}

        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}

        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-secondary") }}
        <br>
        <br>
        <div class="checkbox mb-3">
           <h6>Do not have account?</h6>
           <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register Now</a>
        </div>

        

    </form>
</div>


{% endblock %}