
<!-- ADD SEARCH TO NAV BAR-->

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <div class=" col-1"></div>
          <a class="navbar-brand" href="/" >LibManage</a>    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <img src="static\animation.gif" style="height: 90px ; width:120px ;"  alt=""/>
          </button>

                
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if current_user.is_authenticated%}


                  {%if current_user.role == "Administrator"%}
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('Home')}}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('Books')}}">Books</a>>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('ALLUsers')}}">Users</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('Analytics')}}">Analytics</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('Requests')}}">Requests</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('Sections')}}">Sectionss</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">Logout</a>
                      </li>
                    
                    {%else %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('Home')}}">Home</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('Sections')}}">Sections</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('Analytics')}}">Analytics</a>
                  

                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('Home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('Books')}}">Books</a>>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">Logout</a>
                    </li>
                   

                  {% endif %}



            {% else %}
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">Login</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('register')}}">Register</a>
              </li>
          
            {% endif%}    
          </div>
        </div>
     </div>
</nav>