<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> <!-- Still need get specific Admin ID and then render URl-->
    <!-- Need to use flask resource locater and other utilities-->
    <a href={{Link_To_Books}}>Books</a> 
    <a href="/Admin<ID>/Sections">Sections</a>
    <a href="/Admin<ID>/Analytics">Analytics</a>
    <a href="/Admin<ID>/Users">Users</a>
    <a href="/Admin<ID>/Requests">Requests</a>
</body>
</html>

<!-- Still need to actually give the routes from app.py-->